@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* SurveyPrompt is a reusable Blazor component. The Title parameter is passed from this page to the component, which displays it in its markup. Components like this help organize and reuse UI logic. *@
<SurveyPrompt Title="How is Blazor working for you?" />
